@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    background-color: #f5f5f5;
    --primary-color: #cf0029;
    --main-color: #7b000b;
}
