@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    background-color: #f5f5f5;
    --primary-color: #cf0029;
    --main-color: #7b000b;
}



/* Loader Animation Starts */
.bg {
    animation: animate 6s ease-in-out infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
        background: #7b000b;
    }
    25% {
        transform: scaleX(1);
        transform-origin: left;
        background: #7b000b;
    }
    25.001% {
        transform: scaleX(1);
        transform-origin: right;
        background: #7b000b;
    }
    50% {
        transform: scaleX(0);
        transform-origin: right;
        background: #7b000b;
    }
    50.001% {
        background: #cf0029c6;
    }
    75% {
        transform: scaleX(1);
        transform-origin: right;
        background: #cf0029c6;
    }
    75% {
        transform: scaleX(1);
        transform-origin: left;
        background: #cf0029c6;
    }
    100% {
        transform: scaleX(0);
        transform-origin: left;
        background: #cf0029c6;
    }
}
/* Loader Animation End */

